* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  width: 100%;
  max-width: 700px;
  padding: 50px 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #020b1b;
  font-family: "Lato", sans-serif;
}

/***************
Loader Section
***************/

.loader {
  width: 70px;
  height: 70px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #f39809;
  width: 10px;
  height: 10px;
  transform: translate(150%, 150%);
  border-radius: 50%;
}
.loader::before {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  transform: translate(-150%, -150%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.book-initial-load {
  height: 70vh;
  display: flex;
  align-items: center;
}

/*****************
End Loader Section
******************/

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  color: #f2f2f2;
  background-image: url("./imagen/background.jpg");
  background-position: top;
  background-size: cover;
}

.header-box {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.header-image {
  max-width: 300px;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: center;
}

.filtros {
  padding: 5px 10px;
}

.button {
  font-family: "Lato", sans-serif;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  border: 1px solid #f2f2f2;
  color: white;
  padding: 6px;
  font-size: 16px;
  transition-duration: 0.5s;
  min-width: 200px;
  border-radius: 20px;
  margin: 0 5px;
}

.button:hover {
  background-color: #404b77;
  color: white;
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-container,
.chart-container {
  padding: 280px 30px;
  position: relative;
}

.books {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

/***************
Flip Card Libros
***************/

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.book {
  background-color: transparent;
  max-width: 350px;
  width: 350px;
  height: 35rem;
  margin: 30px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.book-card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.book:hover .book-card {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.cover,
.back-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.cover {
  background-color: transparent;
  color: black;
}

/* Style the back side */
.back-cover {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  border-radius: 20px;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  transform: rotateY(180deg);
}

/***************
Fin Flip Card Libros
***************/

.back-cover {
  padding: 2px 16px;
}

.cover .book-image {
  border-radius: 20px;
  width: 100%;
  object-fit: cover;
}

.back-cover .book-title {
  font-size: 25px;
  padding: 10px 16px;
  text-align: center;
  font-family: "Henny Penny", cursive;
}

.back-cover label {
  padding: 5px 0;
}
.back-cover .book-description {
  text-align: justify;
  font-weight: 300;
  font-size: 18px;
}

.character-image {
  width: 250px;
  padding: 30px;
}

.chart-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.chart {
  width: 60%;
}

.div_hide {
  display: none;
}

footer {
  text-align: right;
}

.total-ventas {
  color: #f2f2f2;
  text-align: center;
  padding: 40px;
  font-size: 27px;
}

@media (max-width: 480px) {
  .header-box {
    padding: 10px 0;
  }

  .header-image {
    max-width: 180px;
  }

  .button {
    min-width: 150px;
    padding: 5px;
  }

  .nav {
    padding: 10px 0 20px;
    flex-direction: column;
  }

  .book-container,
  .chart-container {
    padding: 280px 10px;
  }

  .book {
    margin: 0px;
  }

  .chart {
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .header-box {
    padding: 10px 0;
  }

  .header-image {
    max-width: 230px;
  }

  .filtros {
    text-align: center;
  }

  .button {
    min-width: 150px;
    padding: 5px;
  }

  .nav {
    padding: 10px 0 20px;
    flex-direction: column;
  }

  .book-container,
  .chart-container {
    padding: 280px 10px;
  }

  .book {
    margin: 10px 0px;
  }

  .chart {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header-box {
    padding: 10px 0;
  }

  .header-image {
    max-width: 260px;
  }

  .filtros {
    text-align: center;
  }

  .button {
    max-width: 150px;
    padding: 5px;
  }

  .nav {
    padding: 10px 0 20px;
    flex-direction: column;
  }

  .book-container,
  .chart-container {
    padding: 280px 10px;
  }

  .book {
    margin: 10px 0px;
  }

  .chart {
    width: 90%;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .header-box {
    padding: 10px 0;
  }

  .header-image {
    max-width: 350px;
  }

  .button {
    max-width: 150px;
    padding: 5px;
  }

  .contenedor {
    padding-bottom: 20px;
  }

  .nav {
    padding-top: 10px;
  }

  .book-container,
  .chart-container {
    padding: 280px 130px 30px;
  }

  .book {
    margin: 30px 15px;
  }

  .chart {
    width: 50%;
  }
}

@media (min-width: 1201px) {
  .contenedor {
    padding-bottom: 20px;
  }

  .nav {
    padding-top: 10px;
  }

  .book-container,
  .chart-container {
    padding: 280px 300px 30px;
  }

  .chart {
    width: 40%;
  }
}
