* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  width: 100%;
  max-width: 700px;
  padding: 50px 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fcf5e1;
}

body {
  color: #4a2b10;
  background-color: #fcf5e7;

  font-family: "Playfair Display", serif;
  font-family: "Raleway", sans-serif;
}

.header-box {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.header-image {
  max-width: 300px;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: center;
}

.buscar,
.filtrar,
.ordenar {
  padding: 5px 10px;
}

.contenedor {
}

.btn-buscar {
  text-align: center;
  color: #4a2b10;
}

.book-container {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.books {
  grid-column-start: 2;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.book {
  top: 0px;
  position: relative;
  max-width: 400px;
  margin: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  border-radius: 0 30px 5px 5px;
  background-color: #f2f2f2;
}

.book:hover {
  top: -4px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cover,
.back-cover {
  display: flex;
  flex-direction: column;
}

.back-cover {
  padding: 2px 16px;
}

.cover .book-image {
  border-radius: 0px 30px 0 30px;
  width: 100%;
  object-fit: cover;
}

.cover .book-title {
  font-size: 20px;
  padding: 2px 16px;
}

.back-cover .book-description {
  text-align: justify;
}

.character-image {
  width: 250px;
  padding: 30px;
}
