* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  width: 100%;
  max-width: 700px;
  padding: 50px 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  color: #4a2b10;
  background-color: #fcf5e7;

  font-family: "Playfair Display", serif;
}

/*******
Load Section
********/

.loader {
  width: 48px;
  height: 48px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #ff3d00;
  width: 6px;
  height: 6px;
  transform: translate(150%, 150%);
  border-radius: 50%;
}
.loader::before {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  transform: translate(-150%, -150%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*******
End Load Section
********/

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fcf5e7;
  z-index: 1;
}

.header-box {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.header-image {
  max-width: 300px;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: center;
}

.filtrar,
.ordenar,
.regresar,
.grafico {
  padding: 5px 10px;
}

.btn-grafico {
  text-align: center;
  color: #4a2b10;
}

.contenedor {
}

.book-container,
.chart-container {
  padding: 250px 30px 30px;
}

.books {
  grid-column-start: 2;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.book {
  top: 0px;
  position: relative;
  max-width: 400px;
  margin: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  border-radius: 0 30px 5px 5px;
  background-color: #f2f2f2;
}

.book:hover {
  top: -4px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cover,
.back-cover {
  display: flex;
  flex-direction: column;
}

.back-cover {
  padding: 2px 16px;
}

.cover .book-image {
  border-radius: 0px 30px 0 30px;
  width: 100%;
  object-fit: cover;
}

.cover .book-title {
  font-size: 20px;
  padding: 10px 16px;
  text-align: center;
}

.back-cover label {
  padding: 5px 0;
}
.back-cover .book-description {
  text-align: justify;
}

.character-image {
  width: 250px;
  padding: 30px;
}

.chart-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.chart {
  width: 80%;
}

.div_hide {
  display: none;
}

footer {
  text-align: right;
}
