* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
      
}
body {
    background:rgb(202, 235, 125);
    font-family: 'Lato', sans-serif;
    position: relative;
  }
  
h1{
       width: 100%;
       max-width: 700px;
       padding: 50px 50px;
       margin: auto;
       display:flex;
       flex-direction: column;
       align-items: center;


}
body {
  background-color: beige;
  font-family: "Times New Roman", Times, serif;
}
.header-box {
  width: 50%;
  max-width: 500px;
  margin: auto;
}
.contenedor {
  width: 50%;
  max-width: 900px;
  margin: auto;
  flex-direction: column;
  
}

.books {
  display: flex;
  flex-direction: row;
}

.book-title {
  font-size: 50px;
}

.book-image {
  width: 10rem;
  object-fit: cover;
}

#buscar {
  width: 300px;
  height: 20px;
  margin: 20px 0;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  justify-content: center;

}

.button-buscar {
  text-align: center;
  margin: 20px 0;
  
}
 {
  text-align: center;
}
.contenedorImagen{
  padding: 30px;
  margin-right: -70%;
  margin-left: 0%;
  
  

}

#imagen.piedra{
  padding: 30px;
  margin-right: -70%;
  margin-left: 0%;
  
}

 

#port4 {
  width: 200px;
}
#port5 {
  width: 200px;
}
